
body {
	font-family: helvetica, sans-serif;
	background-color: teal;
	color: white;
	margin: 50px;
}
.playGame {
	text-align: center;
}
.playerOne {
	text-align: left;
}
fieldset {
	border-radius: 5px;
}
.playerTwo {
	margin: 0 25px 0 25px;
	text-align: left;
}
.results {
	display: inline-block;
}
.alphabet {
	display: inline-block; 
}
.character {
	width: 35px; 
	height: 35px;
	margin: 5px; 
	border-radius: 5px;
	text-align: center;
	line-height: 35px;
	background-color: #66FFFF;
	color: black;
}
.character-chosen {
	width: 35px; 
	height: 35px;
	margin: 5px; 
	border-radius: 5px;
	text-align: center;
	line-height: 35px;
	background-color: #1F4C4C;
	color: white;
}
.character:hover {
	background-color: coral;
}

.gameOver {
	text-align: center;
}
.reset {
	margin: 0 auto;
	padding: 0 10px;
	width: 275px;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	color: #1F4C4C;
}
.reset:hover {
	background-color: white;
}